@charset "UTF-8";

/* メリーおばさんのLInux講座サイト共通 */
/* ブラウザスタイルの初期化 */
*	{
	margin: 0px;
	padding: 0px;
	}
/* 文書本体 (body) */
html	{
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",verdana, sans-serif;
	line-height: 1.5;
	}
body	{
	color: #004000;
	font-size: 100%;
	background-color: olivedrab;
	}

header, footer, nav, section, article, figure, aside	{
	display: block;
	}

header, footer, nav, section, article, aside	{
	clear: both;
	}

h1, h2, h3, h4, h5, h6	{
	font-weight: normal;
	margin-bottom: 12px;
	border-bottom: 2px solid #003300;
	color: #003300;
	}

h1  {
	font-size: 28px;
	line-height: 1.2857;	/* 36px */
	}
h2  {
	width:90%;
	font-size: 24px;
	line-height: 1.5;		/* 36px */
	}
h3  {
	width:80%;
	font-size: 20px;
	line-height: 1.6;		/* 32px */
	}

h4,h5,h6	{
	width:70%;
	font-size: 18px;
	line-height: 1.5556;	/* 28px */
	}

table	{
	width: auto;
	background-color: lavenderblush;
	border: 2px solid #004000;
	border-collapse: collapse;
	empty-cells: show;
	margin-bottom: 12px;
	overflow-x: auto;
	}
	table caption	{
		}
	table th	{
		border: 1px solid #004000;
		padding: 6px 0.3em;
		text-align: center;
		background-color: lavender;
		}
	table td	{
		border: 1px solid #004000;
		padding: 6px 0.3em;
		vertical-align: top;
		}
p	{
	text-indent: 1em;
	margin-bottom: 6px;
	}
ul, ol	{
	margin-left: 1em;
	}
ul li,
ol li	{
	margin-left: 1.5em;
	margin-bottom: 4px;
	}
img		{
	vertical-align: bottom;
	max-width: 100%;
	}
pre		{
	font-family: monospace;
	}
strong	{
	color: mediumvioletred;
	font-weight: bold;
	}
dl	{
	margin-bottom: 12px;
	}
dt	{
	font-weight: bold;
	}
dd	{
	margin-left: 1em;
	margin-bottom: 12px;
	}
hr	{
	width: 98%;
	margin: 12px auto;
	border: 2px dashed #cccc66;
	clear: both;
	}
code	{
	font-family: monospace;
	margin-left: 0.5em;
	margin-right: 0.5em;
	}
form	{
	width: 100%;
	}
	form input[type="text"]	{		/* テキストボックスのみに適用 */
		}
	form input[type="submit"],
	form input[type="reset"],
	form input[type="button"]	{
		padding: 8px 2em;
		}
	form input[type="checkbox"]	{
		margin: 0 0.5em 4px 1em;
		}
	form textarea	{
		}
	form dl{
		margin-left: 1em;
	}
label	{
	margin-left: 0.5em;
	}
fieldset	{
	margin-bottom: 12px;
	border: 1px solid #004000;
	}
legend	{
	margin-left: 1em;
	padding: 0 0.5em;
	}
blockquote	{
	margin: 0 1em 0 2em;
	border-left: 1px solid #004000;
	padding-left: 0.5em;
	font-style: italic;
	}
	blockquote p	{
		text-indent: 0;
	}
q	{
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-style: italic;
	}
	q:before	{
		content: "「";
		}
	q:after	{
		content: "」";
	}
samp	{
	font-family: monospace;
	}
kbd	{
	font-weight: bold;
	font-family: monospace;
	}
/* table内の要素の位置 */
table td > ul,
table td > ol {
	margin-left: 1.5em;
	}
table td > dl dt {
	margin-left: 0.1em;
	}
table td > dl dd {
	margin-left: 1em;
	}
/* リンクテキスト (a) */
a:link	{
	color: blue;
	}
a:active	{
	color: navy;
	text-decoration: none;
	}
a:visited	{
	color: maroon;
	}
a:hover	{
	background-color:#ffccff;
	}

/* レイアウト */
div#container	{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
/* コンテンツ */
.contents	{
	width: auto;
	padding: 12px 2%;
	border-color: #cccc66;
	border-top-width: 4px;
	border-left-width: 0.5em;
	border-right-width: 0.5em;
	border-bottom-width: 4px;
	border-style: solid;
	background-color: #ffffcc;
	overflow: hidden;
	clear: both;
	}

/* ナビゲーション用のul,olの再設定 */
header nav ul,
footer nav ul,
section nav ul	{
	list-style: none;
	margin: 0 auto;
	}

/* ヘッダー */
header	{
	width: auto;
	padding: 0 1em;
	border-color: #cccc66;
	border-top-width: 2px;
	border-left-width: 0.5em;
	border-right-width: 0.5em;
	border-bottom-width: 0;
	border-style: solid;
	background-color: #cccc66;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	overflow: hidden;
	}
	header h1	{
		width: 65%;
		}
		header h1 span	{
			}
	/* ヘッダコメント */
	header p	{
		margin-left: 0.5em;
		text-indent: 0;
		font-size: 70%;
		}
	/* ヘッダー部のナビゲーション */
	header nav ul	{
		margin: 4px 0;
		overflow: hidden;
		}
		header nav ul li  {
			display: inline;
			font-size: 90%;
			margin-left: 0;
			padding-left: 0.5em;
			border-left: 1px solid black;
			overflow: hidden;
			}
			header nav ul li:first-child	{			/* liの先頭要素 */
				padding-left: 0;
				border-left: none;
				}
/* ヘッダー部ここまで */
/* フッター部 */
footer	{
	width: auto;
	margin: 0 auto;
	padding: 0 1em;
	border-color: #cccc66;
	border-top-width: 0;
	border-left-width: 0.5em;
	border-right-width: 0.5em;
	border-bottom-width: 2px;
	border-style: solid;
	background-color: #cccc66;
	border-bottom-right-radius: 2em;
	border-bottom-left-radius: 2em;
	overflow: hidden;
	}
/* フッター部のナビゲーション */
footer nav ul	{
	overflow: hidden;
	}
	footer nav ul li  {
		display: inline;
		font-size: 90%;
		margin-left: 0;
		padding-left: 0.5em;
		border-left: 1px solid #004000;
		overflow: hidden;
		}
		footer nav ul li:first-child	{			/* liの先頭要素 */
			padding-left: 0;
			border-left: none;
			}
footer p#footer-author	{
	margin: 0px;
	text-indent: 0;
	text-align: right;
	font-size: 90%;
	}
footer p#copyright	{
	text-indent: 0;
	text-align: center;
	}
footer p#l_counter	{
	text-indent: 0;
	}
/* フッター部ここまで */

/* 他 */
/* ボタン */
a.css-button	{
	color: #003300;
	font-size: 80%;
	padding: 2px 8px;
	margin: 0 0.3em;
	border: olive solid 1px;
	text-decoration: none;
	background-color: olive;
	background: -moz-linear-gradient(top, lightgoldenrodyellow, olive);
	background: -webkit-gradient(linear, left top, left bottom, from(lightgoldenrodyellow), to(olive));
	background: -webkit-gradient(top, lightgoldenrodyellow, olive);
	background: -o-linear-gradient(top, lightgoldenrodyellow, olive);
	background: linear-gradient(top, lightgoldenrodyellow, olive);
/*	border-radius: 50% / 50%; */
	border-radius: 45% / 45%;
	}
	a.css-button:link	{
		color: #003300;
		}
	a.css-button:active	{
		color: #003300;
		}
	a.css-button:hover	{
		color: darkgoldenrod;
		background: -moz-linear-gradient(top, olive, lightgoldenrodyellow, olive);
		background: -webkit-gradient(linear, left top, left bottom, from(olive), color-stop(0.50, lightgoldenrodyellow), to(olive));
		background: -webkit-gradient(top, olive, lightgoldenrodyellow, olive);
		background: -o-linear-gradient(top, olive, lightgoldenrodyellow, olive);
		background: linear-gradient(top, olive, lightgoldenrodyellow, olive);
		}

/* 画像（写真）表示（400px） */
.myphoto dl	{
	width: 400px;
	margin: 0;
	border: 1px solid #004000;
	background-color: dimgray;
	}
	.myphoto dl dt	{
		text-align: center;
		}
		.myphoto dl dt img	{
			max-width: 100%;
			min-height: 100px;
		}
	.myphoto dl dd	{			/* コメント */
		width: auto;
		height: 3.4em;
		font-size: 90%;
		margin: 0;
		padding: 0 0.3em;
		background-color: lavenderblush;
		border-top: 1px dashed #004000;
		}
	.myphoto dl dd:first-of-type	{	/* ddの先頭要素。名前 */
		height: 1.4em;
		border-top: 1px solid #004000;
		background-color: lavender;
		}
/* 画像横並びコンテナー */
.gallery-box	{
	width: 814px;
	margin: 12px auto 12px auto;
	overflow: hidden;
	}
	.gallery-box dl	{
		float: left;
		margin-right: 4px;
		margin-bottom: 4px;
		}
/* 右組・左組・中組コンテナー */
.left-box	{
	float: left;
	margin: 8px 1em 8px 0;
	}
.right-box	{
	float: right;
	margin: 8px 0 8px 1em;
	}
.center-box	{
	margin: 8px auto;
	}
.left-box,
.right-box,
.center-box	{
	width: 402px;
	height: auto;
	overflow: auto;
	}
	.left-box dl dt img,
	.right-box dl dt img,
	.center-box dl dt img	{
		max-width: 400px;
		max-height: 100%;
		}
/* ソースコード、形式説明、実行例用コンテナー  */
div.source-code,
div.form-exp,
div.exe-samp	{
	font-family: monospace;
	padding: 6px 0.5em 6px 1em;
	margin: 6px 0;
	border-radius: 1em;
	background: -moz-linear-gradient(left, rgba(255,204,153,0.4), rgba(255,204,153,0));
	background: -webkit-gradient(linear, left top, right top, from(rgba(255,204,153,0.4)), to(rgba(255,204,153,0)));
	background: linear-gradient(left, rgba(255,204,153,0.4), rgba(255,204,153,0));
	overflow-x: auto;
	clear: both;
	}
/* ソースコード */
div.source-code {
	font-size: 80%;
	line-height: 1.4;
	}
/* 形式説明 */
	div.form-exp >  ul li,
	div.form-exp >  ol li   {
		margin-bottom: 8px;
		margin-left: 1em;
		}
/* 実行例 */
div.exe-samp	{
		font-size: 80%;
		}

/* 必要に応じてスクロールバーを付加 */
.scroll-box	{
	overflow-x: auto;
	}
/* 画像表示（ビューワー） */
.viewer dl 	{
	width: auto;
	border: 1px solid #004000;
	background-color: dimgray;
		}
	.viewer dl dt	{
		text-align: center;
		}
		.viewer dl dt img	{
			}
	.viewer dl dd	{
		width: auto;
		height: 3.4em;
		font-size: 90%;
		margin: 0;
		padding: 0 0.3em;
		background-color: lavenderblush;
		border-top: 1px solid #004000;
		}

/* リンクリスト */
ul.link-list	{
	margin-left: 1em;
	}
ul.link-list	li	{
	margin-left: 1.5em;
	list-style-image: url(../IMAGE/list_image_pink.gif);
	}
	ul.link-list	li a	{
		}
	ul.link-list	li img	{
		margin-right: 0.5em;
		}
/* 目次用テーブル */
table.simple-table	{
	width: 100%;
	border-top: 2px solid #004000;
	border-left-style: none;
	border-right-style: none;
	border-bottom: 2px solid #004000;
	}
	table.simple-table caption		{
		}
	table.simple-table th	{
		border-top-style: none;
		border-left-style: none;
		border-right-style: none;
		border-bottom: 1px solid #004000;
		}
	table.simple-table td	{
		border-top-style: none;
		border-left: 5px solid transparent;
		border-right-style: none;
		border-bottom: 1px dashed #004000;
		}
	table.simple-table th:first-of-type,
	table.simple-table td:first-of-type {
		white-space: nowrap;
		}
/* 他 */
.text-center	{
	text-align: center;
	}
.text-right	{
	text-align: right;
	}
.number	{
	text-align: right;
	}
.null	{
	display: none;			/* 領域を取らず、表示もしない */
	}
.empty	{
	visibility: hidden;		/* 領域を取るが、表示はしない */
	}

/* スクリーン幅が540px以下 */
@media screen and (max-width : 540px)  {
	h1{
		font-size: 24px;
		line-height: 1.5;		/* 36px */
	}
	h1, h2, h3, h4	{
		width: auto;
		border-style: none;
		}
	.myphoto dl	{
		width: 260px;
		float: none;
		margin-left: auto;
		margin-right: auto;
		}
		.myphoto dl dt	{
			}
			.myphoto dl dt img	{
				max-width: 260px;
				max-height: 100%;
				}
		.myphoto dl dd	{
			height: 4.4em;
			font-size: 80%;
			}
	.gallery-box	{
			width: 262px;
			}
	/* スクロールバー付き */
	.scroll-box table tr td	{
		white-space: nowrap;
		}
	table.simple-table th:first-of-type,
	table.simple-table td:first-of-type {
		white-space: normal;
		}
	}

/* スクリーン幅が768px以下 */
@media screen and (max-width : 768px)  {
	header h1 	{
		width: 95%;
		}
/* コンテンツ */
	.contents	{
		padding: 12px 1%;
	}
	p	{
		text-indent: 0;
		}
	ul.link-list	li	{
		padding: 4px 0;
		}
		ul.link-list	li a	{
			padding: 6px 0;
			}
	header nav ul li a	{
		padding: 6px 0;
		}
	footer nav ul li a{
		padding: 6px 0;
		}
	/* X-box */
	.left-box,
	.right-box,
	.center-box	{
		width: auto;
		float: none;
		margin-left: auto;
		margin-right: auto;
		}
	/* X-boxここまで */
	}
/* スクリーン幅が768px以下。ここまで */

/* スクリーン幅が541px以上、850px以下 */
@media screen and (min-width : 541px) and (max-width: 850px)  {
	/* 400px １列 */
	.myphoto dl	{
		float: none;
		margin-right: 0;
		}
	.gallery-box	{
		width: 402px;
		}
	}

/* スクリーン幅が950px以上 */
@media screen and (min-width : 950px)  {
	div#container	{
		width: 950px;
		}
	}
